*.*~
elpa/archives/marmalade/*
*~

# machine-specific data

autosaves/
1ac-comphist.dat
ac-comphist.dat
session.*
backups/
backups1/
elpa/archives/
plugins1/
/url/cookies

eshell/
persScratch.el
elpaDEPRECATED/
projectile-bookmarks.eld
.cask/24.3.1/elpa/archives/gnu/archive-contents
.cask/24.3.1/elpa/archives/marmalade/archive-contents
.cask/24.3.1/elpa/archives/melpa/archive-contents
games/